body {
    text-align: center;
    background-color: antiquewhite;
    color: brown;
}

.mensagem {
    text-align: center;
}

.mensagem-erro {
    text-align: center;
    border: 5px solid red;
    background-color: lightcoral;
    border-radius: 10px;
    color: darkred;
}

div p strong{
    text-align: center;
    border:5px solid green;
    background-color: lightgreen;
    border-radius: 10px;
    color: darkgreen;

}

button {
    background-color: lightpink;
    color: brown;
    border: 2px solid brown;
}
.mensagem-alerta {
    text-align: center;
    border: 5px solid yellow;
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    color: rgb(216, 196, 9);
}

h1{
    font-family: cursive;
    color: darkred;
}

